.rating {
    display: flex;
    justify-content: center;
  }
  .rating {
    margin-top: 10px;
  }
  
  .rating span {
    font-size: 24px;
    cursor: pointer;
    color: lightgray;
    transition: color 0.2s;
  }
  
  .rating span:hover,
  .rating span:hover ~ span {
    color: gold;
  }
  .rating {
    margin: 10px 0;
  }
  
  