input {
  background-color: var(--lichtColor);
  padding: 0.5rem;
  color: var(--primaryDarkColor);
  font-weight: 500;
  width: 100%;
}

.comment-section {
  padding: 2rem;
}

.name-input{
  margin: 0.5rem 0;
}


.comment-input{
  margin: 0.5rem 0;
}
textarea{
  background-color: var(--lichtColor);
  color: var(--primaryDarkColor);
  font-weight: 500;
  padding: 0.5rem;
  width: 100%;
}
button{
  background-color: var(--acentColor);
  color: var(--primaryDarkColor);
}
input:disabled {
  background-color: var(--primaryDarkColor);
}

textarea:disabled {
  background-color: var(--primaryDarkColor);
}

.comment-list{
  border: 1px solid var(--border-grey);
  padding: 1rem;
  margin-top: 1rem;
}

.comment-list h3{
  padding-bottom: 0.5rem;
}

.comment{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  border-top: 1px solid var(--border-grey);
}

.avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  margin-right: 1rem;
}

.success-message {
  background-color: var(--lichtColor); /* Ljusgrå färg för bakgrunden */
  border-left: 4px solid var(--border-grey); /* Blå vänsterkant */
  padding: 10px;
  margin-top: 10px;
  color: var(--primaryDarkColor);
  font-size: 14px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.comment-content{
  flex: 1;
  max-width: 100%;
}

.comment-name{
  font-weight: bold;
  margin: 0;
}

.comment-text{
margin: 0.5rem 0 0 0;
}

.comment-date{
font-size: 0.9rem;
position: absolute;
right: 0;
}

@media only screen and (max-width: 600px) {
  .comment-content{
    max-width: 9rem;
  }

}