.recipe-detail {

  }
  
  .recipe-header {
    display: grid;
  
    margin-bottom: 20px;
    width: 100%;
  }
  .recipe-img{
    float: right;
  }
  
  .recipe-image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
  }
  
  .recipe-info {
    max-width: 55%;
    margin-left: 20px;
  }
  
  .recipe-instructions {
    width: 100%;
    margin-top: 20px;
  }
  
  .recipe-footer {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
