/* footer.css */

.footer-container {
    background-color: var(--darkColor);
    color: var(--lichtColor);
    padding: 20px;
    text-align: center;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .footer-link-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-link-list li {
    margin: 5px 0;
  }
  
  .footer-link-list li a{
    color: var(--acentColor);
  }

  .footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
  }
  
  .footer-social-icons a {
    color: var(--lichtColor);
    transition: color 0.3s;
  }
  
  .footer-social-icons a:hover {
    color: var(--acentColor);
  }
  
  .footer-copyright {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--lichtColor);
  }
  