:root{
  --primaryColor: #A3CCC0;
  --secondaryColor: #6098A4;
  --secondaryAccentColor: #f1ceb8;
  --secondaryAccentColor-transparant: #f1ceb84D;
  --lichtColor: #fcfaf4;
  --acentColor: #F4C6B4; 
  --darkColor: #043444;
  --secondaryDarkColor: #2C4E5C; 
  --border-grey : #ddd; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--lichtColor);
  color: var(--darkColor);
}


.header {
  background-color: var(--primaryColor);
  color: var(--darkColor);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}

a {
  font-weight: 500;
  color: var(--secondaryDarkColor);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--acentColor);
}

.recipe-card {
  border: 1px solid var(--border-grey);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: var(--secondaryAccentColor-transparant);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column; /* Lägger Header överst */
  gap: 20px;
  padding: 20px;
  height: 100vh;
  
}
.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: 200px; /* Fast höjd för bilder */
  object-fit: cover; /* Skalar och klipper bilden för att fylla behållaren */
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-card-content {
  margin-top: 10px;
  flex-grow: 1;
}

input.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.rating span {
  font-size: 24px;
  cursor: pointer;
  color: lightgray;
  transition: color 0.2s;
}

.rating span:hover,
.rating span:hover ~ span {
  color: gold;
}

input{
  background-color: var(--lichtColor);
  color: var(--primaryDarkColor);
  font-weight: 600;
}

.icon-text-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem ;
  position: relative;
}


aside{
  height: 0;
  padding: 0;
  visibility: hidden;
}

.category-list{
  list-style: none;

}
.list-item a, .list-item {
  color: var(--secondaryColor);
  font-weight: 500;
}

.dropdown-button{
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: var(--acentColor);
  border-radius: 0.5rem;
  cursor: pointer;
  }

.toggle-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.button-open{
  border: 1px solid var(--border-grey)
}

.dropdown-content{
  position: absolute; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--acentColor);
  border-radius: 0.5rem;
  pointer-events: none;
  opacity: 0;
}

.dropdown-content-open{
  opacity: 1;
  pointer-events: all;
}


.list-item:hover{
  font-weight: bold;
  color: var(--acentColor);
}


.category-dropdown{
  display: flex;
  justify-content: center;
  color: var(--darkColor);
  padding: 1rem;
}

/* */
@media only screen and (max-width: 600px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Visar alltid tre kolumner */
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
  }
  .icon-text-wrapper{
    margin-bottom: 0;
  }

  .header-text{
    max-width: 50%;
  }
  .home-icon{
    visibility: hidden;
  }




  
} 
@media only screen and (min-width: 600px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Visar alltid tre kolumner */
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
 
} 


@media only screen and (min-width: 768px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Visar alltid tre kolumner */
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  aside {
    flex: 0 0 200px; /* Fast bredd för aside */
    border: 1px solid var(--border-grey);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
    visibility: visible;
  }

  .content-wrapper {
    display: flex; /* Flex för att placera aside och recipes bredvid varandra */
    align-items: flex-start; /* Justera så att aside och recipes är i samma höjd */
  }
  
  .category-dropdown{
    visibility: hidden;
    display: block;
  }
  
} 

@media only screen and (min-width: 992px) {
  
  .recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Visar alltid tre kolumner */
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  
}
@media only screen and (min-width: 1200px) {
  
  .recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Visar alltid tre kolumner */
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
}







